
@media screen and (max-width: 400px){
   
}

@media screen and (max-width: 500px) {

    .LogOutButton{
        
        margin-right:10px;
        margin-left:5%;
        float:left;
    }
    
       .adminBody-content{
        font-size:90%;
    }

    .student-content{
        font-size:90%;
    }
    
    .listSide{
      width: 85%;
      margin-left:6%;
    }
    
    .bdaySide{
        margin-left:8%;
        width: 80%;
    }
    
    .profilePic{
        height:35px;
        width:35px;
    }

    .student-details{
        margin-left:5px;
    }
    
   
    
}


@media screen and (orientation:landscape) and (min-width: 750px){

    .student-details{
        font-weight: normal;
    }
}

@media screen and (orientation:portrait) and (min-width: 450px){

    .student-details{
        font-weight: normal;
    }
}
@media screen and (orientation:landscape) and (min-width: 850px){

    .adminBody-content{
        font-size:100%;
    }
    
    .student-content{
        font-size:110%;
    }
    
  
    .profilePic{
        height:40px;
        width:40px;
    }
    
    .student-details{
        margin-left:10px;
    }
    
    .header{
        font-size: 120%;
    }
    
    .listSide{
      width: 55%;
      margin-left:5%;
    }
    
    .bdaySide{
        width: 35%;
    }

}

@media screen and (orientation:landscape) and (min-width: 1100px){

    .adminBody-content{
        font-size:110%;
    }
    
    .student-content{
        font-size:120%;
    }
    
  
    .profilePic{
        height:45px;
        width:45px;
    }
    

    .header{
        font-size: 130%;
    }
    
    .listSide{
      width: 50%;
    }
    
    .bdaySide{
        margin-left:10%;
        width: 25%;
    }
    
    .LogOutButton{
        margin-left:10px;
        margin-right:10%;
    }

}



@media screen and (orientation:portrait){

    .danzas-main{
        max-width:500px;
    }
}

@media screen and (orientation:landscape){
    .main-container{
        padding: 0 20% 0 20%;
    }
    
    .story-left{
        width:60%;
        margin:0px 35px 20px 0px;
    }
    
    .theSkew-content{
        padding:3% 5% 3% 5%;
    }
    
    .sktop:before{
        -webkit-transform: skewY(-4deg);
        -ms-transform: skewY(-4deg);
        transform: skewY(-4deg);
    }
    
    .skbottom:before{
         -webkit-transform: skewY(3deg);
        -ms-transform: skewY(3deg);
        transform: skewY(3deg);
    }
    
    .evHeader{
        font-size:200%;
        margin-left:10%;
    }
    
    .dHeader{
        font-size:200%;
        margin:50px 35% 0px 0px;
    }
    
    .danzas-main{
        padding:0px 0px 0px 0px;
        margin:0px;
    }
    
    .danzas-container{
        width:35%;
    }
    
    .dLeft{
        margin-top:0px;
        margin-bottom:10px;
    }
    
    .dRight{
        margin-top:0px;
        margin-bottom:150px;
    }
    
    .eventsDisplay{
        padding: 50px 15% 50px 15%;
    }
    
    .eventos-left{
        padding-right:50px;
        
    }
    
}




@media screen and (min-width:350px){
    
    .message-text{
        width:200px;
    }
    
    .message-textArea{
        width:200px;
    }
}



@media screen and (min-width: 400px) {

    .container{
        left: 12%;
        width: 75%;
       font-size:70%;
    }
    
    .loginButton{
        font-size:small;
    }
    
    .form-control{
        width: 80%;
        font-size:100%;
    }
    
    .addImage-pic{
        width:90px;
        height:90px;
    }
    
    .addId-pic{
        width:110px;
        height:25px;
    }
    
    .uploadButton{
        width:85px;
    }
    
    .studentMenu-content{
        font-size:70%;
    }
    
    
    .load-letters-container{
        font-size:150%;
    }
   
    .enterDiv{
        font-size:95%;
    }
    
    .message-text{
        width:225px;
    }
    
    .message-textArea{
        width:225px;
    }
    
     .section{
        font-size:85%;
    }
    
    .img-letters-span{
        font-size:80%;
    }
    
}

@media screen and (min-width:450px){
    
 
    .message-text{
        width:250px;
    }
    
    .message-textArea{
        width:250px;
    }
    
    .fp-controlArrow.fp-next{
        padding:15px;
    }
    
    .fp-controlArrow.fp-prev{
        padding:15px;
    }
    
    
}



@media screen and (min-width:500px){
    
   
    .enterDiv{
        font-size:100%;
    }
    

    .message-text{
        width:275px;
    }
    
    .message-textArea{
        width:275px;
    }
    
   
    
    
    .section{
        font-size:90%;
    }
    
    .nav-a{
        font-size:85%;
    }
    
    .nav-li{
        padding: 15px 0px 15px 0px;
    }
    
    .divMenu{
        padding: 8px 0px 8px 0px;
    }
    
    .img-letters-span{
        font-size:90%;
    }
  
}


@media screen and (min-width: 600px) {

    .container{
        left: 20%;
        width: 60%;
       font-size:80%;
    }
    
    .form-control{
        width: 70%;
        
    }
    
    .loginButton{
        font-size:medium;
    }
    
    .addImage-pic{
        width:100px;
        height:100px;
    }
    
    .addId-pic{
        width:120px;
        height:30px;
    }
    
    .uploadButton{
        width:90px;
        margin-bottom:10px;
    }
    
    .studentMenu-content{
        font-size:75%;
    }
    
    .message-text{
        width:325px;
    }
    
    .message-textArea{
        width:325px;
    }
    
    
    .enterDiv{
        font-size:105%;
    }
    
    
    
    .nav-a{
        font-size:95%;
    }
    
    .section{
        font-size:95%;
    }
    
    
    
    .img-letters-span{
        font-size:100%;
    }
    
   .fp-controlArrow.fp-next{
        /*border-width: 18.5px 0 18.5px 14px;*/
        right: -20px;
        border-width:0px 3px 3px 0px;
        padding:20px;
    }
    
    .fp-controlArrow.fp-prev{
        /*border-width: 18.5px 14px 18.5px 0;*/
        left:-20px;
        border-width:0px 3px 3px 0px;
        padding:20px;
    }
    
    .eventos-table{
        font-size:100%;
       
    }
    
    
     

}


@media screen and (min-width: 700px) {
    .message-text{
        width:350px;
    }
    
    .message-textArea{
        width:350px;
    }
    
    
    
     .nav-a{
        font-size:105%;
        margin-left:10px;
        padding: 3px 10px 3px 0px;
    }
    
    .nav-li{
        padding: 25px 0px 25px 0px;
    }
    
    .divMenu{
        padding: 10px 0px 10px 0px;
    }
  
     .section{
        font-size:100%;
    }
    
    .img-letters-span{
        font-size:110%;
        width:80%;
    }
    
    
    
    
}

@media screen and (min-width: 750px) {

    .container{
        left: 22%;
        width: 55%;
       font-size:90%;
    }
    
    .form-control{
        width: 60%;
        height:40px;
    }
    
    .loginButton{
        font-size:large;
    }
    .addImage-pic{
        width:150px;
        height:150px;
    }
    
    .addId-pic{
        width:150px;
        height:30px;
    }
    
    .uploadButton{
        width:100px;
    }
    
    .studentMenu-content{
        font-size:80%;
    }
    
     .message-text{
        width:375px;
    }
    
    .message-textArea{
        width:375px;
    }
    
    .img-letters-span{
        font-size:120%;
    }
   
}

@media screen and (min-width:900px){
    

    .m-name{
        display:inline-block;
    }
    
    .m-email{
        display:inline-block;
        margin-left:5px;
    }
    
    .message-text{
        width:250px;
    }
    
    .message-textArea{
        width:515px;
    }
    
   
    .nav-a{
        font-size:115%;
    }
    
    .img-letters-span{
        font-size:150%;
    }
 
}



@media screen and (min-width: 1000px) {
    
     .load-letters-container{
        font-size:200%;
        width:50%;
    }
}

@media screen and (min-width: 1100px) {

    .container{
        left: 30%;
        width: 40%;
       font-size:100%;
    }
    
    .form-control{
        width: 50%;
    }
    
    .addImage-pic{
        width:200px;
        height:200px;
    }
    
    .addId-pic{
        width:180px;
        height:30px;
    }
    
    .uploadButton{
        width:120px;
    }
    
    .studentMenu-content{
        font-size:90%;
    }
    
    .enterDiv{
        font-size:130%;
    }
    
    .img-letters-span{
        font-size:180%;
    }
    
     
    
    
}

@media screen and (min-width: 1500px) {

    .container{
        left: 35%;
        width: 30%;
    }
    
    .studentMenu-content{
        font-size:100%;
    }
    
    .img-letters-span{
        font-size:200%;
    }
    
    
     .load-letters-container{
        font-size:250%;
        width:40%;
    }
   
    
}

@media screen and (min-width: 2000px) {
    .evHeader{
        margin-bottom:0px;
        font-size:280%;
    }
    
    .dHeader{
        margin-top:0px;
        margin-bottom:0px;
        font-size:280%;
    }
    
    .insideMain{
        margin-top:-3%;
    }
}

/****************************************HEIGHTS***********************************************/


@media screen and (min-height: 350px){ 
   
    .message-textArea{
        height:120px;
    }
    
   
}


@media screen and (min-height: 450px){ 
    .message{
        margin-top:5px;
    }
    
     .message-text{
        height:25px;
    }
    
    .message-textArea{
        height:150px;
    }
    
    
}

@media screen and (min-height: 550px){ 
    
    
     .message-text{
        height:30px;
    }
    
    .message-textArea{
        height:200px;
    }
    
    
}

@media screen and (min-height: 650px){ 
    
    
    .bigScreen{
        display: block;
    }
    
    .smallScreen{
        margin-top: 10px;
    }
    
    .message{
        margin-top:10px;
    }
    
     .message-text{
        height:35px;
    }
    
    .message-textArea{
        height:300px;
    }
 
   
}


@media screen and (min-height: 720px){ 

    .message-textArea{
        height:350px;
    }
}

@media screen and (min-height: 760px){ 

     .message-text{
        height:40px;
    }
    
    /*.message-textArea{*/
    /*    height:410px;*/
    /*}*/
}






@media screen and (orientation:landscape) and (max-aspect-ratio: 16/9) {

    .container{
        top:20%;
    }
    
    .addImage-pic{
        width:90px;
        height:80px;
    }
    
    .addId-pic{
        width:100px;
        height:20px;
    }
    
    .uploadButton{
        width:70px;
        padding:1px;
    }
   
   .form-control{
        height:15px;
        
    }
    
   
}


@media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
     .container{
        top:20%;
    }
    
}

@media screen and (orientation:landscape) and (min-aspect-ratio: 4/3) {

    .container{
        top:15%;
    }
    

    
   
}

@media screen and (orientation:landscape) and (min-aspect-ratio: 3/2) {

    .container{
        top:12%;
    }
    
}

@media screen and (orientation:landscape) and (min-aspect-ratio: 8/5) {

    .container{
        top:8%;
    }
    
    .container{
        top:20%;
    }
    
    .addImage-pic{
        width:90px;
        height:80px;
    }
    
    .addId-pic{
        width:100px;
        height:20px;
    }
    
    .uploadButton{
        width:70px;
        padding:1px;
    }
   
   .form-control{
        height:15px;
        
    }
    
   
}


@media screen and (orientation:landscape) and (min-width: 900px) and (min-height:600px){

    .container{
        top:25%;
    }
    
  
    
}

@media screen and (orientation:landscape) and (min-width: 1000px) and (min-height:700px){

    .container{
        top:25%;
    }
    
    
}

@media screen and (orientation:landscape) and (min-aspect-ratio: 8/5) and (max-height:500px){
    
    .ng-modal-dialog {
        top:60%;
    }
    .studentMenu-content{
        font-size:80%;
    }
}




@media screen and (min-width: 500px) and (min-height: 500px) { 

    
    .m-top{
        margin-top:25px;
    }
    
    .mainHomePic-container{
        width:15%;
    }
    
   

}




@media screen and (min-width: 700px) and (min-height: 700px) { 
    
    
    .m-top{
        margin-top:30px;
    }
    
    .mainHomePic-container{
        width:20%;
    }
    
    
    
}

@media screen and (min-width: 900px) and (min-height: 800px) { 
    
    
    
    .smallScreen{
        margin-top:5px;
    }
    
    .bigScreen{
        display: block;
    }
    
    
    
    .m-top{
        margin-top:35px;
    }
    
    
   
}


@media screen and (min-width: 900px) and (min-height: 900px) { 
   
    
    .m-top{
        margin-top:40px;
    }
    
   
}

@media screen and (min-width: 1000px) and (min-height: 550px) { 
    
    
}

@media screen and (min-width: 1200px) and (min-height: 900px) { 
  
    .m-top{
        margin-top:45px;
    }
    
  
}